body {
background-color: rgb(255, 186, 249);
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
transition: background-color 2s ease;
}
h1 {
color: white;
font-family: 'Boldonse';
text-shadow: 2px 2px 5px rgb(255, 255, 255);
}
p {
color: white;
}
.center {
    margin: auto;
    width: 100vw;
    text-align: center;
}
.button {
    background-color: rgb(232, 149, 225);
    color: rgb(255, 186, 249);
    font-family: 'Assistant';
    border: 0;
    width: auto;
    height: 50px;
    letter-spacing: 1px;
    text-align: center;
    margin: auto;
}
.button:hover {
    background-color: aliceblue;
}
/* .animation {
    background-color: red;
} */
